<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-cerulean.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" > @Html.ActionLink("Online Security Solutions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })  </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About Us", "AboutUs", "About", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Modules
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="location.href='@Url.Action("SocialEngineering", "SocialEngineering")'">Social Engineering</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("Encryption", "Encryption")'">Encryption</a></li>

                            </ul>
                        </li>
                        <li> @Html.ActionLink("Q&A", "QANDA", "QANDA", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li> @Html.ActionLink("Contact Us", "ContactUs", "ContactUs", new { area = "" }, new { @class = "navbar-brand" })</li>

                    </ul>

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li class="h4">
                                    Welcome @HttpContext.Current.User.Identity.Name
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Registration", "User", routeValues: null, htmlAttributes: new { id = "Register" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "Login" })</li>
                        </ul>
                    }

                </div>
            </div>

        </div>*@

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">@Html.ActionLink("Online Security Solutions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="location.href='@Url.Action("AboutUs", "About")'">About Us</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="location.href='@Url.Action("SocialEngineering", "SocialEngineering")'">Social Engineering</a></li>
                            <li><a href="#" onclick="location.href='@Url.Action("Encryption", "Encryption")'">Encryption</a></li>
                        </ul>
                    </li>
                    <li><a href="#" onclick="location.href='@Url.Action("QANDA", "QANDA")'">Q&A</a></li>
                    <li><a href="#" onclick="location.href='@Url.Action("ContactUs", "ContactUs")'">Contact Us</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li style="color:azure">
                               Welcome @HttpContext.Current.User.Identity.Name
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "Registration", "User", routeValues: null, htmlAttributes: new { id = "Register" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "Login" })</li>
                    </ul>
                }
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()

        <footer class="col-md-12">
            <hr />

            <p>&copy; @DateTime.Now.Year - Online Security Solutions</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>